.add-reward-form {
  background-color: orange;
  width: 455px;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .row {
    border: 1px solid rgb(2, 6, 33);
  }

  label {
    display: inline-block;
    width: 100px;
    background-color: lightpink;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
  }

  input {
    width: 333px;
  }
}
