.reward-sidebar-list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  cursor: pointer;
}

.reward-sidebar-list-item {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  width: 320px;
  background-color: #F8F9FD;
  border: 2px solid #ECEBF0;
  border-radius: 6px;
  margin-bottom: 20px;

  .pledge-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      padding-top: 20px;
      margin-left: 20px;
      color: #586BE9;
      font-size: 18px;
      letter-spacing: 0.8px;
      font-weight: normal;
      line-height: 25.2px;
      margin-bottom: 10px;
    }

    h3 {
      color: #020621;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: normal;
      line-height: 22.4px;
    }

    p {
      color: #80809E;
      font-size: 14px;
    }

    span {
      margin-left: 20px;
    }

    .estimated-delivery {
      font-size: 10px;
      color: #80809E;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase;
    }

    .delivery-date {
      margin-bottom: 20px;
      font-size: 14px;
      color: #020621;
      font-weight: normal;
      line-height: 21px;
    }

    .pledge-limit {
      font-size: 12px;
      color: #ff7d5f;
      line-height: 16.8px;
      margin-bottom: 10px;
    }

    .number-of-backers {
      color: #80809E;
      font-size: 12px;
      font-weight: 500;
      line-height: 16.8px;
      margin-bottom: 20px;
    }
  }
}

.reward-sidebar-list-item:hover {
  // background-color: rgba(43, 222, 115, 0.901961);
  // transition-duration: 0.2;
  // transition-timing-function: ease-in-out;
}
