.edit-reward-box {

  width: 632px;
  margin: 20px 10px;
  // background-color: yellow;
  // border: 5px solid black;

  display: flex;
  flex-direction: row;

}

.edit-reward-number-box {
  box-sizing: border-box;
  margin: 10px;
  width: 174px;
  height: 349px;
  // background-color: purple;

  h3 {
    margin: 15px;
    font-size: 13px;
    color: black;
    font-weight: bold;
  }
}

.edit-reward-info-box {
  box-sizing: border-box;
  width: 453px;
  height: 349px;
  margin: 10px;

  border-radius: 3px;
  border: 1px solid rgb(218, 215, 212);
  // background-color: orange;

  display: flex;
  flex-direction: column;
}

.edit-reward-row {

  display: flex;
  flex-direction: row;
  // margin: 10px 0px;
  font-size: 12px;
  border: 1px solid rgb(218, 215, 212);

  .reward-field {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    width: 115px;
    border-right: 1px solid rgb(218, 215, 212);
    height: 38px;

  }

  input {
    box-sizing: border-box;
    width: 333px;
    // background-color: red;
    padding-left: 10px;
  }

  textarea {
    box-sizing: border-box;
    border: 0px;
    height: 100px;
    width: 333px;
    border-left: 1px solid rgb(218, 215, 212);
    padding: 10px;

    // background-color: red;
  }

}

.reward-button-row {

  display: flex;
  flex-direction: row;

  .reward-change-button {
    box-sizing: border-box;
    width: 45%;
    height: 50px;
    margin: 20px auto;
    border-radius: 6px;
    background-color: #25CB68;
  }

  .reward-delete-button {
    box-sizing: border-box;
    width: 45%;
    height: 50px;
    margin: 20px auto;
    border-radius: 6px;
    background-color: #fd003b;
  }

}
