.create-project-header {
  box-sizing: border-box;
  padding-top: 137px;
  padding-right: 39px;
  width: 100%;
  background-color: transparent;
  color: #2752ff;
  font-size: 60px;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
}
