.create-project-errors-box {

  width: 400px;
  margin: 10px auto;
  border-radius: 6px;
  border: 1px dashed #cc0000;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  li {
    list-style-type: none;
    padding: 5px;
    background-color: #FFCCCC;
  }
}
