.edit-project-page-main-box-visible {
  width: 960px;
  background-color: lightgreen;
  margin: 50px auto;
  height: 400px;

  box-sizing: border-box;
}

.edit-project-page-main-box-hidden {
  display: none;
  width: 960px;
  background-color: lightgreen;
  margin: 50px auto;
  height: 400px;
  box-sizing: border-box;
}
