.edit-project-page-menu {

  width: 850px;
  height: 62px;
  margin: 42px auto;
  // background-color: yellow;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
