.edit-project-page-background {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 1000px;
  background-color: #F7F5F2;


  display: flex;
  flex-direction: column;

}
